@layer theme {
  :root {
    --neutral: #ffffff;

    --primary: #2563eb;
    --primary-mild: #3b82f6;
    --primary-subtle: #2563eb14;

    --secondary: #8b5cf6;
    --secondary-deep: #6d28d9;
    --secondary-mild: #a78bfa;
    --secondary-subtle: #8b5cf614;
  }

  /* ---------- DARK MODE ---------- */
  .dark {
    --neutral: #0d0d11;

    --primary: #3b82f6;
    --primary-deep: #1e40af;
    --primary-mild: #60a5fa;
    --primary-subtle: #3b82f614;

    --secondary: #a78bfa;
    --secondary-deep: #7c3aed;
    --secondary-mild: #c4b5fd;
    --secondary-subtle: #a78bfa14;
  }

  /* ---------- SCROLLBAR ---------- */

  /* Size */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--neutral);
  }

  /* Thumb */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-mild);
    border-radius: 999px;
    transition: background 0.25s ease;
  }

  /* Hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
  }

  /* ---------- DARK MODE SCROLLBAR ---------- */
  .dark ::-webkit-scrollbar-track {
    background: var(--neutral);
  }

  .dark ::-webkit-scrollbar-thumb {
    background: var(--primary);
  }

  .dark ::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
  }
}
